<template name="home">

    <div class="ui centered grid">
        <div class="eight wide column">

            <!-- Form -->
            <h3 class="ui dividing header">Send SMS</h3>
            <form id="sms" class="ui form">

                <div class="two fields">
                    <div class="required field">
                        <label for="name">Name</label>
                        <input type="text" name="name" placeholder="Person's Name">
                    </div>

                    <div class="required field">
                        <label for="phone">Phone Number</label>
                        <input type="tel" name="phone" placeholder="1112223456">
                    </div>
                </div>

                <div class="required field">
                    <label for="message">Message</label>
                    <input type="text" name="message" placeholder="Write your message.">
                </div>

                <button class="ui animated large green button" tabindex="1" type="submit">
                    <div class="visible content">
                        <i class="mobile icon"></i> Send SMS
                    </div>
                    <div class="hidden content">
                        <i class="right arrow icon"></i>
                    </div>
                </button>

                <div class="ui error message"></div>

            </form>

            <!-- Receive area -->
            <h3 class="ui dividing header received">Received SMS</h3>

            <table class="ui red celled table">
                <thead>
                    <tr>
                        <th>From:</th>
                        <th>Timestamp:</th>
                        <th>Message:</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each messages}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{createdAt}}</td>
                            <td>{{message}}</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>

</template>
